.bleu_fonce {background-color: #08588d;color:#fff;background-color: #08588d;}
.bleu_fonce:hover {background-color: #08588d;color:#fff;background-color: #08588d;}

.bleu_claire {
    background-color: #27a5de;
}

.jaune {
    background-color: #d1d73f;
}

.violet {background-color: #e92676;color:#fff;background-color: #e92676;}
.violet:hover {background-color: #e92676;color:#fff;background-color: #e92676;}

.noir {
    background-color: #000000;
}
